:root{
    --mycolor001:#ece4e2;
    --mycolor002:#fcd3d1;
    --mycolor003:#fcdff3;
    --mycolor004:#fe929f;
    --mycolor005:#d3b7d8;
    --mycolor006:#a13e97;
    --mycolor007:#632a7e;
    --mycolor008:#280e3b;
    --mycolor009:#e3a6a1;
    --mycolor010:#bc5f6a;
    --mycolor011:#19b3b1;
    --mycolor012:#034b61;
    --mycolor013:#e1dcd9;
    --mycolor014:#8f8681;
    --mycolor015:#a67f78;
    --mycolor016:#32435f;
    --mycolor017:#FFD1A4;
    --mycolor018:#AD5A5A;
    --mycolor019:#FFFAF4;
    --mycolor020:#F3F3FA;
    --mycolor021:#ECF5FF;
    --mycolor022:#F2E6E6;
    --mycolor023:#E8E8D0;
    --mycolor024:#E6E6F2;
    --mycolor025:#D1E9E9;
    --mycolor026:#5A5AAD;
    --mycolor027:#D2E9FF;
    }

.demo{
    width: 100%;
    border: 2px solid var(--mycolor006);
    padding: 30px;
    margin: 20px;
}
